body {
    padding-top: 70px; 
    background-color: #ececec !important;
}

.post_style {
   background-color: #ffffff;
   border-width:1px;
   border-style:solid;
   border-color:#d6d6d6;
}

#event_box{
    background-color: #ffffff;

    border-width:1px;
    border-style:solid;
    border-color:#d6d6d6;
    margin-left: 10px;

}


#publish_box{
    background-color: #c8ede5;
    color:#007179;

    border-width:1px;
    border-style:solid;
    border-color:#72bbb0;


}

.profile_pic {
    padding-left: 10px; 
    width: 8vw;
}

.profile_top{
    border-width:1px;
    border-style:solid;
    border-color:#72bbb0;

    margin-top: -20px;
    margin-bottom:10px;
    height: 300px;
    overflow: hidden;
}
.profile_top_picture{
    position:absolute;
    
}